<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="KetNoi" connectionString="metadata=res://*/ADO.csdl|res://*/ADO.ssdl|res://*/ADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=QuanLiNhanSu_BTL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QuanLiNhanSu.Properties.Settings.QuanLiNhanSuConnectionString"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=QuanLiNhanSu;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLiNhanSu.Properties.Settings.QuanLiNhanSu_BTLConnectionString"
      connectionString="Data Source=.\SqlExpress;Initial Catalog=QuanLiNhanSu_BTL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>